@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --accent-from:#4f46e5; 
  --accent-to:#14b8a6;  
}

* { font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
html, body, #root { height: 100%; }

.card-shadow { box-shadow: 0 6px 18px rgba(15,23,42,0.06); }

.modal-backdrop { background: rgba(2,6,23,0.6); }

.smooth { transition: all 200ms ease; }
